{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock %}

{% block content %}
<div class="row">
    <!-- Форма фильтров -->
    <div class="dropdown mb-2">
        <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Фильтры
        </button>
        <!--Условие if проверяет словарь GET-запроса на наличие параметра q и если он есть, то вернуть страницу по url-маршруту catalog:search.-->
        <!--А если условие выше не выполняется, то происходит перенаправление на url (catalog:index), которое передаёт значение slug_url из контроллера views.py в url-строку - для удобочитаемости.-->
        <form action="{% if request.GET.q %}{% url "catalog:search" %}{% else %}{% url "catalog:index" slug_url %}{% endif %}" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark">
            <div class="form-check text-white mx-3">
                <!--Условие if принимает переменную on_sale из контроллера, которая извлекает значение по ключу 'on_sale' (значение передаётся в переменную name в этом тэге),
                        и применяет к нему методы request.GET, которые предоставляет информацию о HTTP-запросе (значения, переданные в URL-адресе через GET-параметры)
                        в виде словаря и сверяет со значением переменной value (перед условием) равным 'on', то будет установлена пометка (checked) в ячейке.-->
                <input class="form-check-input" type="checkbox" name="on_sale" id="flexCheckDefault" value="on" {% if request.GET.on_sale == "on" %} checked {% endif %}>
                {% if request.GET.q %}
                    <input type="hidden" name="q" value="{{ request.GET.q }}">
                {% endif %}
                <label class="form-check-label" for="flexCheckDefault">
                    Товары по акции
                </label>
            </div>
            <p class="text-white mx-3 mt-3">Сортировать:</p>
            <div class="form-check text-white mx-3">
                <!--Условие if принимает переменную order_by из контроллера, которая либо извлекает значение по ключу 'order_by' (значение передаётся в переменную name)
                        и применяет к нему методы request.GET, которые предоставляет информацию о HTTP-запросе (значения, переданные в URL-адресе через GET-параметры)
                        в виде словаря и проверяет на 2 условия - если порядок сортировки не установлен (то есть если параметра order_by нет) или он дефолтный (равен value),
                        то будет установлена пометка (checked) в ячейке.-->
                <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="default" 
                {% if not request.GET.order_by or request.GET.order_by == "default" %} checked {% endif %}>
                <label class="form-check-label" for="flexRadioDefault1">
                    По умолчанию
                </label>
            </div>
            <div class="form-check text-white mx-3">
                <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="price" 
                {% if request.GET.order_by == "price" %} checked {% endif %}>
                <label class="form-check-label" for="flexRadioDefault2">
                    От дешевых к дорогим
                </label>
            </div>
            <div class="form-check text-white mx-3">
                <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="-price" 
                {% if request.GET.order_by == "-price" %} checked {% endif %}>
                <label class="form-check-label" for="flexRadioDefault3">
                    От дорогих к дешевым
                </label>
            </div>
            <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>
        </form>
    </div>

    {% if request.GET.q %} <!--Если поступает запрос get.q-->
    <h3 class="mt-4">Результаты поиска по запросу "{{ request.GET.q }}":</h3> <!--То показать надпись-->
        {% if not goods %} <!--Если ничего не найдено-->
            <link rel="stylesheet" href={% static "deps/css/my_footer_css.css" %}>
            <h3 class="mt-4">По запросу ничего не найдено.</h3> <!--То показать надпись-->
        {% endif %}
    {% endif %}

    {% for product in goods %}
        <div class="col-lg-4 col-md-6 p-4">
            <div class="card border-primary rounded custom-shadow" >
                {% if product.image %}
                    <img src={{ product.image.url }} class="card-img-top" alt="{{ product.name }}">
                {% else %}
                    <img src={% static "deps/images/Not found image.png" %} class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <a href="{% url "catalog:product" product.slug %}">
                        <!--headline - представляет собой строку имени продукта, в которой выделены ключевые слова из поискового запроса поля, которое указано в значение headline в utils.py-->
                        <!--aut0escape - для автоэкранирования html-символов и сущностей из кода (utils.py) других языков-->
                        <p class="card-title">
                            {% autoescape off %}
                                {% if product.headline %}
                                {{ product.headline }}
                                {% else %}
                                {{ product.name }}
                                {% endif %}
                            {% endautoescape %}
                        </p>
                    </a>
                        <p class="card-text">
                            {% autoescape off %}
                                {% if product.bodyline %}
                                {{ product.bodyline|truncatechars:100 }}
                                {% else %}
                                {{ product.description|truncatechars:35 }}
                                {% endif %}
                            {% endautoescape %} 
                        </p>    
                    <p class="product_quantity">{{ product.display_id }}</p>    
                    <p class="product_quantity">{{ product.display_quantity }}</p>
                    <div class="d-flex justify-content-between">  
                        {% if product.discount %}
                            <p><s>{{ product.price }}</s> ₽</p>
                            <p><strong>{{ product.discount_calculation }} ₽</strong></p>
                            <span class="badge bg-warning text-dark">{{ "Скидка" }} {{ product.discount }}%</span>
                        {% else %}
                            <p><strong>{{ product.price }} ₽</strong></p>
                        {% endif %}  
                        <a href="{% url "cart:cart_add" %}" class="btn add-to-cart"
                        data-product-id="{{ product.id }}">
                            {% csrf_token %}
                            <img class="mx-1" src={% static "deps/icons/cart-plus.svg" %} alt="Catalog Icon"
                                width="32" height="32">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

</div>
<!-- Пагинация -->
{% if goods %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center my-4">
            <div class="custom-shadow d-flex">
                <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                <a class="page-link" href="{% if page_obj.has_previous %}?{% change_parameters page=page_obj.previous_page_number %}{% else %}#{% endif %}">Предыдущая</a>
                </li>
                {% for page in page_obj.paginator.page_range %}
                    <!--Это условие в шаблоне проверяет, находится ли текущий номер страницы (page) в пределах 2 страниц от текущей страницы в наборе данных (goods.number).--> 
                    {% if page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                        <!--Если условие if выше выполняется, то проверяется условие ниже, в котором если текущий номер страницы (`page`) совпадает с номером текущей страницы
                            в наборе данных (`goods.number`), то добавляет класс `active`, который помечает кнопку цветом, если мы на ней находимся.-->
                        <li class="page-item {% if page_obj.number == page %} active {% endif %}">
                            <!--Передаётся тэг change_parameters (page из цикла for=page из views.py) из templatetags/goods_tags и обновляет контекст пагинации.--> 
                            <a class="page-link" href="?{% change_parameters page=page %}">{{ page }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <!--Используем метод класса Paginator, определённый в views.py, который отключает кнопку перехода на следующую страницу, если мы находимся на последней странице. -->
                <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                    <!--Также используем метод класса Paginator, в котором если у нас есть следующая страница, то change_parameters принимает и устанавливает новую страницу, и не устанавливает ничего в любом другом случае. -->
                    <a class="page-link" href="{% if page_obj.has_next %}?{% change_parameters page=page_obj.next_page_number %}{% else %}#{% endif %}">Следующая</a>
                </li>
                </li>
            </div>
        </ul>
    </nav>
{% endif %}
{% endblock %}

<!-- Футер -->
{% block footer %}
<footer class="custom-footer">
    <div class="container">
        <p class="text-center text-white footer-text-size footer-text-style">KitchenLand &copy; 2024</p>
    </div>
</footer>
{% endblock %}

