{% extends "base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href={% static "deps/css/my_footer_css.css" %}>
    <link rel="stylesheet" href={% static "deps/css/main_content.css" %}>
{% endblock  %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock %}

{% block content %}
<div style="padding: 55px 80px 0 0;">
    <div class="bg-white custom-shadow rounded about-text-content">
        <p>{{ description }}</p>
</div>
{% endblock %}

{% block footer %}
    <footer>
        <div class="container">
            <p class="text-center text-white">KitchenLand &copy; 2024</p>
        </div>
    </footer>
{% endblock %}

