{% extends "base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href={% static "deps/css/my_footer_css.css" %}>
    <link rel="stylesheet" href={% static "deps/css/main_content.css" %}>
{% endblock  %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock %}

{% block content %}
    <h2 class="mt-5 pt-5 text-white index-text-content">{{ content }}</h2>
{% endblock %}

{% block footer %}
    <footer>
        <div class="container">
            <p class="text-center text-white">KitchenLand &copy; 2024</p>
        </div>
    </footer>
{% endblock %}

